body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafc;
    color: #000;
}

header {
    font-style: bold;
    color: #000;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 10px;
}


button {
    color: #FFF;
    border: none;
    background-color: #000;
    border-radius: 50px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    width: 350px;
    height: 35px;

}

a {
    display: block;
    flex-direction: row;
    margin-bottom: 10px;
    font-weight: 100;
    color: #69696a;
    text-decoration: none;
}

h1 {
    font-size: x-large;
    color: #000;
}

p {
    border-left: 3px solid;
    border-color: #69696a;
    position: relative;
    padding-left: 10px;
    margin-left: 5px;
    text-align: left;
    color: #69696a;
    font-size: smaller;
}

#footer {
    background: rgba(247, 193, 162, 0.7);
    position: fixed;
    bottom: 0; left: 0; right: 0; 
    height: 30px;
    text-align: justify;
}

h2 {
    margin-top: 7px;
    margin-left: 15px;
    font-size: small;
}

li {
    display: inline;
    float: right;
}

nav {
    margin-top: 0px;
}

@media screen and (min-width: 768px) {

    #navigation {
        display: flex;
        flex-direction: row;
        font-weight: 100;
        color: #69696a;
        text-decoration: none;
    }

    .dot1 {
        color:  rgba(247, 136, 167, 0.6);
        width: 50px;
        height: 50px;
    }
}