body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafc;
    color: #000;
}

li {
    list-style: none;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: -31px;
    color: #69696a;
}

#special {
    margin-bottom: 10px;
    color: #000;
}

header {
    font-style: bold;
    color: #000;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 10px;
}

button {
    background: none;
    border: none;
    color: #FFF;
    text-align: center;
}

.button1 {
    color: #fff;
    border: none;
    background-color: #000;
    border-radius: 50px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin: auto;
    text-align: center;
    width: 350px;
    height: 35px;
}

.button2 {
    color:  #fff;
    border: none;
    background-color: #000;
    border-radius: 50px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    width: 350px;
    height: 35px;
}

.button-text {
    margin-top: 10px;
    color: #fff;
    border: none;
}

a {
    display: block;
    flex-direction: row;
    margin-bottom: 10px;
    font-weight: 100;
    color: #69696a;
    text-decoration: none;
}

h1 {
    font-size: x-large;
    color: #000;
}

p {
    border-left: 3px solid;
    border-color: #69696a;
    position: relative;
    padding-left: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    text-align: left;
    color: #69696a;
    font-size: smaller;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 400px;
    margin-bottom: 0px;
    background-color: rgba(247, 193, 162, 0.7);
    position: fixed;
    height: 50px;
    padding: 0;
    color: #69696a;

}

.different {
    margin: auto;
    color: #000;
}

#footer {
    display: flex;
    justify-content: flex-end;
}


@media screen and (min-width: 768px) {

    .top {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        column-gap: 10px;
    }

    #special {
        margin-right: auto;
    }


    ul {
        display: flex;
        justify-content: flex-end;
        margin-top: 0px;
    }

    a {
        margin-left: auto;
    }

    h1 {
        margin-top: 161px;
    }

    p {
        margin-right: 50%;
    }

    .button1 {
        width: 50px;
        height: 50px;
    }

    .button2 {
        width: 50%;
    }

    #circle1 {
        width: 230px;
        height: 230px;
        border-radius: 200px;
        background: rgba(247, 136, 167, 0.6);
        opacity: 0.9;
        position: absolute;
        left: 950px;
        top: 181px;
    }
    
    #circle2 {
        width: 180px;
        height: 180px;
        border-radius: 100px;
        background: rgba(247, 193, 162, 0.7);
        opacity: 0.8;
        position: absolute;
        left: 1080px;
        top: 326px;
    }

    #circle3 {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        background: rgba(207, 130, 213, 0.6);
        opacity: 0.9;
        position: absolute;
        left: 1131px;
        top: 250px;
    }
}